.player {
    position: relative;
    margin: 10px;
    padding: 10px;
}
.playerBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.counterPlayer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.counterPlayerButtonPlus {
    background-color: #491B16;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FFF1E4;
    position: relative;
    border: #491B16 2px solid;
}
.counterPlayerButtonPlus::before {
    content: "+";
    color: #FFF1E4;
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
}
.counterPlayerButtonMinus {
    background-color: #491B16;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FFF1E4;
    position: relative;
    border: #491B16 2px solid;
}
.counterPlayerButtonMinus::before {
    content: "-";
    color: #FFF1E4;
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
}
@media screen and (max-width: 420px) {
    .player {
        width: 160px;
        height: 230px;
    }
    .playerBackground {
        width: 160px;
        height: 230px;
        border-radius: 15px;
    }
    .player > p {
        text-align: center;
        font-size: 20px;
        color: #491B16;
        margin: 10px;
    }
    .counterPlayer > input {
        width: 40px;
        margin: 0 10px;
    }
    .counterPlayerButtonPlus {
        margin: 0 5px;
    }
    .counterPlayerButtonPlus::before {
        top: -5px;
        left: 1.5px;
    }
    .counterPlayerButtonMinus {
        margin: 0 5px;
    }
    .counterPlayerButtonMinus::before {
        top: -8px;
        left: 6px;
    }
}
@media screen and (min-width: 420px) and (max-width: 960px) {
    .player {
        width: 280px;
        height: 430px;
    }
    .playerBackground {
        width: 280px;
        height: 430px;
        border-radius: 25px;
    }
    .player > p {
        text-align: center;
        font-size: 32px;
        color: #491B16;
    }
    .counterPlayer > input {
        width: 80px;
        margin: 0 20px;
    }
    .counterPlayerButtonPlus {
        margin: 0 15px;
    }
    .counterPlayerButtonPlus::before {
        top: -5px;
        left: 3px;
    }
    .counterPlayerButtonMinus {
        margin: 0 15px;
    }
    .counterPlayerButtonMinus::before {
        top: -8px;
        left: 7px;
    }
}

@media screen and (min-width: 960px) {
    .player {
        width: 280px;
        height: 430px;
    }
    .playerBackground {
        width: 280px;
        height: 430px;
        border-radius: 25px;
    }
    .player > p {
        text-align: center;
        font-size: 32px;
        color: #491B16;
    }
    .counterPlayer > input {
        width: 80px;
        margin: 0 20px;
    }
    .counterPlayerButtonPlus {
        margin: 0 15px;
    }
    .counterPlayerButtonPlus::before {
        top: -5px;
        left: 4px;
    }
    .counterPlayerButtonMinus {
        margin: 0 15px;
    }
    .counterPlayerButtonMinus::before {
        top: -8px;
        left: 7px;
    }
}